/* Try it out. Click the Prefixize button. */
.box {
   opacity: .5;
}

.container {
   -webkit-box-shadow: 20px;
  box-shadow: 20px;
  -webkit-transition: -webkit-box-shadow 2s;
  -moz-transition: -moz-box-shadow 2s;
  -o-transition: box-shadow 2s;
  -ms-transition: box-shadow 2s;
  transition: box-shadow 2s;
  border-radius: 4px;
  -webkit-animation: slide 1s alternate;
  -moz-animation: slide 1s alternate;
  -ms-animation: slide 1s alternate;
  -o-animation: slide 1s alternate;
  animation: slide 1s alternate;
  background: -webkit-linear-gradient(top, #e3e3e3 10%, white);
  background: -moz-linear-gradient(top, #e3e3e3 10%, white);
  background: -o-linear-gradient(top, #e3e3e3 10%, white);
  background: -ms-linear-gradient(top, #e3e3e3 10%, white);
  background: linear-gradient(top, #e3e3e3 10%, white);
  display: -webkit-box; display: -moz-box; display: box;
}

@-webkit-keyframes "slide" {
   0% { left: 0; box-shadow: 10px 10px 10px black; }
   100% { left: 50px; box-shadow: 5px 5px 5px black; }
}


